article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: var(--bg-1);
    color: var(--font);
    margin: 0 15px;
    font-size: 4em;
}

.item:hover {
    border-color: black;
    background: transparent;
}

