article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: var(--bg-1);
    color: var(--font);
    margin: 0 15px;
    font-size: 4em;
}

hr {
    border-top: 2px dotted #3f51b5;
  }

#portfolio {
    margin-bottom: 14rem;
    font-size: large;
}

.item:hover {
    border-color: black;
    background: transparent;
}

.btn:hover {
    border-color: transparent;
}