blockquote { 
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin: 0 30px 40px; 
}

p { 
    color: var(--font);  
    font-size: 25px; 
    letter-spacing: 3px; 
    text-shadow: var(--font-2) 1px 1px; 
}

#about {
    padding: 3vh;
}