 nav {
    display: flex;
    flex-direction: column;
    float: right;
    padding-right: 100px;
}

nav div {
    z-index: 1;
    position: fixed;
    border-radius: 25px;
    background: var(--bg-1);
}

nav a {
    color: var(--font);
    margin:3px;
    display: block;
    height: auto;
    padding: 2px;
    border-radius: 25px;
}

.active {
    background: white;
    color: black;
}
