nav {
    display: flex;
    flex-direction: column;
    position: relative;
}

nav a {
    margin:30px;
}

nav div {
    background: black;
    position: fixed;
    transform: rotate(90deg);
    top: 280px;
    right: -250px;
    align-items: center;
}

.active {
    background: white;
    color: black;
}
