/* nav {
    background: black;
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
} */

nav {
    display: flex;
    flex-direction: column;
    position: relative;
   
}

nav a {
    margin:30px;
}

nav div {
    position: fixed;
    transform: rotate(90deg);
    top: 280px;
    right: -250px;
    align-items: center;
}

.scroll_down {
    position: absolute;
    right: 1rem;
    bottom: 5rem;
    transform: rotate(90deg);
}