header {
    padding-top: 10rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}


/* ============= Headshot =============  */

.Reht {
    width: 40%;
    height: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.contact-buttons {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}


.scroll_down {
    position: absolute;
    right: 1rem;
    bottom: 5rem;
    transform: rotate(90deg);
}

/* ====================== MEDIA QUERIES ====================== */
/* ====================== MEDIUM ====================== */
@media screen and (max-width: 1024px) {

}

/* ====================== MOBILE ====================== */
@media screen and (max-width: 600px) {


    .scroll_down {
        display: none;
    }
}

